.all {
  display:flex;
  flex-direction: column;
  // align-content: space-between;
}

.cont {
  width:85vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: radial-gradient( #f8f6f6d3 10%, #ffffff18);
  margin: auto;
  padding: 1em 3em 3em 3em;
  text-align: center;
  font-size: 1.18em;
  font-weight: 500;
  line-height: 40px;
}

.subtitle {
  margin-bottom: 1em;
}
