.separated {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  width: 47vw;
  background: radial-gradient( #f8f6f6d3 10%, #ffffff18);
  margin: auto;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 40px;
  margin-top: 2rem;
  padding: 0 16px 0 16px;
}

.down {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.up {
  margin: -3.5rem 0 0 0.5rem;
}

@media only screen and (min-width: 200px) and (max-width: 767px)  {.separated { width: 95vw; font-size: 0.8rem; flex-direction: column; margin-top: 18px;} .down { margin-bottom: 2rem; margin-top: 2rem;} .up { margin: -1.5rem 0 0 0.5rem;}}
@media only screen and (min-width: 768px) and (max-width: 1280px) { .separated { width: 80vw}}
