<% @mesotherapies.each do |massage| %>
<%= massage.name %>
<% end %>
<div class="all">
  <div class="cont">
    <h2 class="subtitle"> La massothérapie pour se détendre </h2>
    <p class="text">Les effets bénéfiques de la massothérapie sur l’anxiété ont été constatés dans de nombreuses études : de par ses propriétés relaxantes, la massothérapie permet de mieux gérer les situations et les évènements anxiogènes de la vie courante.
    La massothérapie se pratique surtout à l’aide des doigts et des mains, mais aussi avec les pieds, les coudes et même les genoux. Selon la technique utilisée, les manœuvres peuvent être appliquées sur tout le corps ou sur une seule partie. On pourra se consacrer surtout à la peau et aux muscles ou aller plus en profondeur vers les tendons, les ligaments et les fascias ou encore viser des points spécifiques situés le long des méridiens d’acupuncture. En effet, la massothérapie permet d’améliorer le degré de relaxation, l’humeur ainsi que la qualité du sommeil du patient. Elle permet également de diminuer la fatigue, l’anxiété, les nausées et la douleur des patients, ce qui contribue à une amélioration de la réponse du système immunitaire. De plus, un autre essai clinique a montré que la massothérapie avait grandement amélioré l’humeur des femmes s’occupant de leurs conjoints atteints de cancer, en plus de réduire considérablement le stress perçu.</p>
  </div>
  <div class="cont">
    <h2 class="subtitle"> La séance de massothérapie </h2>
    <p class="text">La massothérapie recouvre une grande diversité de techniques, c’est pourquoi le déroulement des séances varie de façon considérable. En effet, selon la technique employée, le massage peut s’exercer sur une personne dénudée ou habillée, en position couchée ou assise, avec ou sans huile. Il être effectué sur plusieurs types de supports : table de massage, futon posé au sol, chaise ergonomique. Quant aux lieux de massages, ceux-ci sont également très divers : centres, groupements de thérapeutes, à domicile, au travail, en cabinet privé… L'environnement et le contexte (confort de la pièce, du matériel de massage, luminosité, bruits) sont très importants et ont une très grande influence sur le bon déroulement du massage.</p>
  </div>
</div>
<%= link_to "< retour", root_path %>
