<div class="nav-attached">
  <% @mesotherapies.each do |mesotherapy| %>
        <%= link_to mesotherapy_path(mesotherapy), class: 'button-meso' do %>
          <button class="name"> <%= mesotherapy.name %> </button>
        <% end %>
  <% end %>
</div>
<div class="all">
<%= link_to "< retour", menu_path, class:"page-back" %>
  <div class="cont first-cont">
  <h1 class="meso"> Qu’est-ce que la Massothérapie </h1>
    <p class="text">La massothérapie, permet de réajuster l’équilibre énergétique de la personne dans son ensemble, en réduisant les tensions physiques et psychiques ainsi que les dérèglements bioénergétiques, ce qui procure un bien-être global.
    Chaque massage proposé est spécifique tant par les techniques employées que par leurs effets qui vous transporteront dans leur univers particulier.
    Avant chaque prise de rendez-vous, il est important pour nous, de cerner votre état de santé du moment, vos attentes et vos envies afin d’ajuster le choix de la technique et éventuellement les manipulations, adapter la pression et la qualité du toucher.</p>
  </div>
  <div class="cont">
    <h2 class="meso"> Encadrement ethique des ces massages </h2>
    <p class="text"> ~ Ces massages ne s’apparentent à aucune pratique médicale ni paramédicale. Il s’agit de massages uniquement bien-être et ne peut être considéré comme thérapeutique. <br> ~ Ces massages strictement bien-être n’ont aucune visée érotique, ni sexuelle. <br> ~ Ces massages respectent l’intégrité à la fois de la personne et de la praticienne. Votre intimité et votre pudeur seront totalement respectées, un string jetable vous est fourni, merci de nous indiquer vos souhaits.<br> ~ Concernant l’utilisation des huiles, il est important de m’indiquer vos indications, choix ou allergies lors de la prise de rendez-vous.<br> ~ Ces massages sont des massages complets, ils couvrent l’ensemble des parties : de la tête aux pieds.
    </p>
  </div>
</div>
