<div class="all">
  <%= link_to "< retour", menu_path, class:"page-back" %>
  <div class="cont cont-one">
    <h1 class="meso title"> Précautions à prendre et Contre-Indications à respecter 
    pour les massages bien-être </h1>
  </div>
  </div>
  <div class="cont colored">
    <p class="and center">« Une santé physique et morale se conçoit dans l’action et la prévention »</p>
  </div>
  <div class="cont">
    <p class="and center">
    Un massage de relaxation et de bien-être présente de nombreux bienfaits et pour en bénéficier, la pratique de celle-ci doit s’accompagner d’une certaine vigilance sur le plan de la santé.<br> En effet pour les personnes souffrant d’une pathologie, d’une maladie, d’une affection particulière ou se trouvant simplement dans certains contextes spécifiques, le respect de règles professionnelles s’impose. <br> Dans notre pratique de tous massages que nous vous proposons, voici les règles ainsi que les contre-indications relatives ou totale que nous respectons. Ainsi, nous procédons à un entretien préalable avant votre premier massage par un questionnaire de santé, précisant les soins et bénéfices attendus
    </p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub">CONTRE-INDICATION ABSOLUE EN CAS DE MALADIE</h4>
    <p class="and center">Maladies concernées : <br> La contre-indication absolue ou totale détermine qu’AUCUN massage ne sera prodigué, excepté après évaluation et recommandation écrite d’un médecin traitant. Le massage est contre-indiqué pour les clients concernés par les situations suivantes : </p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub"> LA TECHNIQUE </h4>
    <p class="and center"><%= @mesotherapie.technique %></p>
  </div>
   <div class="cont colored">
    <p class="and center"><%= @mesotherapie.motto %></p>
  </div>
</div>