<div class="all">
  <%= link_to "< retour", menu_path, class:"page-back" %>
  <div class="cont cont-one">
    <h1 class="meso title"> Précautions à prendre et Contre-Indications à respecter 
    pour les massages bien-être </h1>
  </div>
  </div>
  <div class="cont colored">
    <p class="and center">« Une santé physique et morale se conçoit dans l’action et la prévention »</p>
  </div>
  <div class="cont">
    <p class="and center">
    Un massage de relaxation et de bien-être présente de nombreux bienfaits et pour en bénéficier, la pratique de celle-ci doit s’accompagner d’une certaine vigilance sur le plan de la santé.<br> En effet pour les personnes souffrant d’une pathologie, d’une maladie, d’une affection particulière ou se trouvant simplement dans certains contextes spécifiques, le respect de règles professionnelles s’impose. <br> Dans notre pratique de tous massages que nous vous proposons, voici les règles ainsi que les contre-indications relatives ou totale que nous respectons. Ainsi, nous procédons à un entretien préalable avant votre premier massage par un questionnaire de santé, précisant les soins et bénéfices attendus
    </p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub">CONTRE-INDICATION ABSOLUE EN CAS DE MALADIE</h4>
    <p class="and center">Maladies concernées : <br> La contre-indication absolue ou totale détermine qu’AUCUN massage ne sera prodigué, excepté après évaluation et recommandation écrite d’un médecin traitant. Le massage est contre-indiqué pour les clients concernés par les situations suivantes : </p>
    <h6 class="meso second-cont sub"> MALADIES CONCERNEES </h6>
    <p class="and center"> <strong>• Hémophilie </strong>: les contusions ou autres bleus pouvant avoir de graves conséquences. <p>
    <p class="and center"> <strong>• Maladies infectieuses </strong> (scarlatine, rougeole, zona etc…) <strong> ou contagieuses</strong> (maladie de la peau par ex. impétigo). </p>
    <p class="and center"> <strong>• 	Phlébite, thrombose. </strong></p>
    <p class="and center"> <strong>•	Maladie nerveuse et troubles psychologiques importants </strong> : propos incohérents, hystérie, grande rigidité, regard fixe ou particulièrement décalé. </p>
    <h6 class="meso second-cont sub">SITUATIONS CONCERNEES</h6>
    <p class="and center"> <strong>• État de malaise. </strong><p>
    <p class="and center"> <strong>• En cas de forte fièvre. </strong></p>
    <p class="and center"> <strong>•</strong>	En cas d’état fébrile léger, le massage peut être court et localisé, selon le ressenti du client. </p>
    <p class="and center"> <strong>• Sous l’emprise de médicaments, alcool, drogue… </strong></p>
    <p class="and center"> <strong>• Fracture non consolidée. </strong> C’est-à-dire inférieure à 6 mois.</p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub"> CONTRE-INDICATIONS LOCALES  </h4>
    <p class="and center"> <strong>• Plaie ouverte, inflammation et lésion cutanées. </strong><p>
    <p class="and center"> <strong>• Zones d’infections cutanées. </strong> Par exemple : furoncle.</p>
    <p class="and center"> <strong>• Zones d’inflammation aigüe. </strong> Exemple : type arthrite. </p>
    <p class="and center"> <strong>• Après un choc violent. </strong>Par exemple : accident récent, « coup du lapin »,…</p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub"> CONTRE-INDICATIONS DANS LA ZONE DU MASSAGE (TYPE DE TOUCHER)  </h4>
    <p class="and center"> <strong>• En cas de trouble de la région abdominale avec état inflammatoire aigu : </strong> gastrite, appendicite, hépatite, … <p>
    <p class="and center"> <strong>• Zones d’infections cutanées. </strong> Par exemple : furoncle.</p>
    <p class="and center"> <strong>• Zones d’inflammation aigüe. </strong> Exemple : type arthrite. </p>
    <p class="and center"> <strong>• Après un choc violent. </strong>Par exemple : accident récent, « coup du lapin »,…</p>
  </div>
   
</div>