<div class="all">
  <%= link_to "< retour", menu_path, class:"page-back" %>
  <div class="cont cont-one">
    <h1 class="meso title"> Précautions à prendre et Contre-Indications à respecter 
    pour les massages bien-être </h1>
  </div>
  </div>
  <div class="cont colored">
    <p class="center">« Une santé physique et morale se conçoit dans l’action et la prévention »</p>
  </div>
  <div class="cont">
    <p class="center">
    Un massage de relaxation et de bien-être présente de nombreux bienfaits et pour en bénéficier, la pratique de celle-ci doit s’accompagner d’une certaine vigilance sur le plan de la santé.<br> En effet pour les personnes souffrant d’une pathologie, d’une maladie, d’une affection particulière ou se trouvant simplement dans certains contextes spécifiques, le respect de règles professionnelles s’impose. <br> Dans notre pratique de tous massages que nous vous proposons, voici les règles ainsi que les contre-indications relatives ou totale que nous respectons. Ainsi, nous procédons à un entretien préalable avant votre premier massage par un questionnaire de santé, précisant les soins et bénéfices attendus
    </p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub">CONTRE-INDICATION ABSOLUE EN CAS DE MALADIE</h4>
    <p class="center">La contre-indication absolue ou totale détermine qu’AUCUN massage ne sera prodigué, excepté après évaluation et recommandation écrite d’un médecin traitant. Le massage est contre-indiqué pour les clients concernés par les situations suivantes : </p>
    <h6 class="meso second-cont sub"> MALADIES CONCERNEES </h6>
    <p class="center"> <strong>~ Hémophilie </strong>: les contusions ou autres bleus pouvant avoir de graves conséquences.<br>
    <strong>~ Maladies infectieuses </strong> (scarlatine, rougeole, zona etc…) <strong> ou contagieuses</strong> (maladie de la peau par ex. impétigo).<br>
    <strong>~	Phlébite, thrombose. </strong><br>
    <strong>~	Maladie nerveuse et troubles psychologiques importants </strong> : propos incohérents, hystérie, grande rigidité, regard fixe ou particulièrement décalé.<br>
    </p>
    <h6 class="meso second-cont sub">SITUATIONS CONCERNEES</h6>
    <p class="center"> <strong>~ État de malaise. </strong><br>
    <strong>~ En cas de forte fièvre. </strong><br>
    <strong>~</strong>	En cas d’état fébrile léger, le massage peut être court et localisé, selon le ressenti du client. <br>
    <strong>~ Sous l’emprise de médicaments, alcool, drogue… </strong><br>
    <strong>~ Fracture non consolidée. </strong> C’est-à-dire inférieure à 6 mois.</p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub"> CONTRE-INDICATIONS LOCALES  </h4>
    <p class="center"> <strong>~ Plaie ouverte, inflammation et lésion cutanées. </strong><br>
    <strong>~ Zones d’infections cutanées. </strong> Par exemple : furoncle.<br>
    <strong>~ Zones d’inflammation aigüe. </strong> Exemple : type arthrite. <br>
    <strong>~ Après un choc violent. </strong> Par exemple : accident récent, « coup du lapin »,…</p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub"> CONTRE-INDICATIONS DANS LA ZONE DU MASSAGE (TYPE DE TOUCHER)  </h4>
    <p class="center"> <strong>~ En cas de trouble de la région abdominale avec état inflammatoire aigu : </strong> gastrite, appendicite, hépatite, … <br>
    <strong>~ Maladies cardiaques ou pulmonaires graves, hypertension importante, hémorragie cérébrale. </strong><br>
    <strong>~ Durant la grossesse </strong>. </p>
    <strong>~ En cas de tumeur ou excroissance abdominale. </strong>Exemple : type kyste.<br>
    <strong>~ Pendant les menstruations </strong>. </p>
    <strong>~ En cas d’hernie ombilicale, inguinale, hiatale </strong>.</p>
  </div>
  <div class="cont">
    <h4 class="meso second-cont sub"> CONTRE-INDICATIONS RELATIVES et PRECAUTIONS PRISES </h4>
    <h6 class="meso second-cont sub"> SELON LE TYPE DE PUBLIC </h6>
    <p class="center"> <strong>~ Public mineur. </strong> Un mineur doit être accompagné d’un parent.<br>
    <strong>~ Personnes âgées. </strong> Exemple : finesse de la peau, fragilité osseuse. <br>
    <strong>~ Femmes enceintes. </strong> Nécessite une formation spécifique : douceur sans vibration ni secousse.</p>
    <h6 class="meso second-cont sub"> SELON LE CONTEXTE </h6>
    <p class="center"> <strong>~ Sportif avant une compétition. </strong>pour éviter une baisse de performance. Le massage, surtout s’il est profond, déstocke des toxines présentes dans les tissus et cela peut entrainer une fatigue de l’organisme mobilisé pour les éliminer.<br>
    <strong>~ Durant une maladie, durant une convalescence. </strong> Le corps suivant déjà un processus important : adaptez et évitez les stimulations. <br>
    <strong>~ Après l’absorption de nourriture.</strong>Nous préconisons de prendre un repas léger avant un massage.<br>
    <strong>~ Intervention chirurgicale récente. </strong> <br>
    <strong>~ Cicatrice très récente. </strong> Pour les zones voisines nous aurons un toucher léger pour ne pas entraver la réparation tissulaire). Exemple : Varices,…</p>
    <h6 class="meso second-cont sub"> SELON LES MALADIES </h6>
    <p class="center"> <strong>~ Pathologies lourdes. </strong>Exemple : cancer, leucémie, … : un avis médical et une autorisation écrite du client est exigée. <br>
    <strong>~ Lombalgie :  </strong> évitez les manipulations importantes, secousses et vibrations. <br>
    <strong>~ Artériosclérose : </strong>techniques douces qui ne risquent pas d’irriter les vaisseaux ni d’augmenter la tension artérielle.<br>
    <strong>~ Diabète</strong>. <br>
    <strong>~ Tumeur</strong>.</p>
    <h6 class="meso second-cont sub"> SELON LES REACTION EN SEANCE DE MASSAGE </h6>
    <p class="center"> <strong>~ Libération émotionnelle et physiologique brusque forte </strong> Exemple : sanglots, spasmes,… </p>
  </div> 
</div>