<div class="all up-scale">
<%= link_to "< retour", menu_path, class:"page-back" %>
  <div class="cont bit-bigger">
    <div class="section">
      <h1 class="meso title"> Qui suis-je ?</h1>
      <%= image_tag("https://res.cloudinary.com/rikufonseca/image/upload/v1647871745/voyages-des-sens/IMG_292911_1_1_pw23ht.jpg",:width=>400, :height=>300, :class => "pic she") %>
      <p class="text and">Sensible à l’humain depuis ma plus tendre enfance, mon parcours a été jalonné par la prise en compte d’autrui. Ainsi cela fait plus de 20 ans, que je prends soin des personnes qui en ont besoin : en situation de dépendance, de handicap, ou simplement lors de besoins transitoires vers un mieux-être. Et, c’est en suivant naturellement mon appel au soin de l’autre que j’exerce depuis plus de 12 ans des massages traditionnels d’apaisement. Puis forte de ma solide expérience, je me suis spécialisée dans le massage de soin, le massage thérapeutique et énergétiques. Diplômée de tous les massages que je pratique. J'exerce dans le pur respect de leurs enseignements. C’est uniquement dans le massage personnalisé, que  j’adapte mes pratiques à l’effet désiré par le client. Exemple, le massage Sportif ou j’allie Pierres Chaudes et Balinais en fonction des zones à « traiter » principalement. Par mon activité de Massothérapeute, et par mes accompagnements réguliers, j’ai à cœur d’apaiser mes clients, de leur permettre de se libérer de leur stress quotidien, de développer un ressourcement, de retrouver une paix intérieure, source d’une vie accomplie car plus heureuse.</p>
    </div>
  </div>
</div>