<div class="nav">
  <div class="navbarone">
    <h1 class="companyname">VOYAGES~DES~SENS</h1>
  </div>
  <div class="navbartwo">
    <a href="tel:+33650947102" class="contact">Me Contacter: 06 50 94 71 02</a>
  </div>
</div>
