<div class="menu">
  <button class="effect">CLIQUEZ ICI</button>
</div>
<div class="contain">
  <div class="triangle left">
    <p class="intro"> Laissez-vous transporter dans un voyage loin du tumulte, du brouhaha de la vie, et laissez derrière vous les tensions et le stress du quotidien. Venez découvrir votre oasis de paix et retrouver votre bien-être.
    <br>
    <br>
    Massothérapeute, je me déplace à votre domicile pour vous offrir mon professionnalisme au service de votre détente, de votre relaxation et surtout du soin dont vous avez besoin.
    Par un moment de lâchez prise, juste pour vous, un cadeau pour prendre soin de vous et pour vous faire plaisir.  Inutile de prendre votre voiture, votre bien-être vient directement à vous, sans subir de tensions, de stress des embouteillages ni le bruit des transports.
    Avant, pendant, après vous allez privilégier un moment pour profiter au maximum de cet instant de calme, de détente et de repos. Restez chez soi est l’expression du luxe ultime, le faste d’un soin professionnel à domicile.
    </p>
  </div>
  <div class="triangle right">
    <p class="intro"> Laissez-vous transporter dans un voyage loin du tumulte, du brouhaha de la vie, et laissez derrière vous les tensions et le stress du quotidien. Venez découvrir votre oasis de paix et retrouver votre bien-être.
    <br>
    <br>
    Massothérapeute, je me déplace à votre domicile pour vous offrir mon professionnalisme au service de votre détente, de votre relaxation et surtout du soin dont vous avez besoin.
    Par un moment de lâchez prise, juste pour vous, un cadeau pour prendre soin de vous et pour vous faire plaisir.  Inutile de prendre votre voiture, votre bien-être vient directement à vous, sans subir de tensions, de stress des embouteillages ni le bruit des transports.
    Avant, pendant, après vous allez privilégier un moment pour profiter au maximum de cet instant de calme, de détente et de repos. Restez chez soi est l’expression du luxe ultime, le faste d’un soin professionnel à domicile.
    </p>
  </div>
</div>
