<div class= "here">
<div class="page-one">
  <div id="menu">
    <i class="fa-solid fa-bars effect" id="button"></i>
  </div>
  <div id="contain" class="elements">
    <div class="triangle left elements">
      <p class="intro elements"> Laissez-vous transporter dans un voyage loin du tumulte, du brouhaha de la vie, et laissez derrière vous les tensions et le stress du quotidien. Venez découvrir votre oasis de paix et retrouver votre bien-être.
      <br>
      <br>
      Massothérapeute, je me déplace à votre domicile pour vous offrir mon professionnalisme au service de votre détente, de votre relaxation et surtout du soin dont vous avez besoin.
      Par un moment de lâchez prise, juste pour vous, un cadeau pour prendre soin de vous et pour vous faire plaisir.  Inutile de prendre votre voiture, votre bien-être vient directement à vous, sans subir de tensions, de stress des embouteillages ni le bruit des transports.
      Avant, pendant, après vous allez privilégier un moment pour profiter au maximum de cet instant de calme, de détente et de repos. Restez chez soi est l’expression du luxe ultime, le faste d’un soin professionnel à domicile.
      </p>
    </div>
    <div class="triangle right elements">
      <p class="intro elements"> Laissez-vous transporter dans un voyage loin du tumulte, du brouhaha de la vie, et laissez derrière vous les tensions et le stress du quotidien. Venez découvrir votre oasis de paix et retrouver votre bien-être.
      <br>
      <br>
      Massothérapeute, je me déplace à votre domicile pour vous offrir mon professionnalisme au service de votre détente, de votre relaxation et surtout du soin dont vous avez besoin.
      Par un moment de lâchez prise, juste pour vous, un cadeau pour prendre soin de vous et pour vous faire plaisir.  Inutile de prendre votre voiture, votre bien-être vient directement à vous, sans subir de tensions, de stress des embouteillages ni le bruit des transports.
      Avant, pendant, après vous allez privilégier un moment pour profiter au maximum de cet instant de calme, de détente et de repos. Restez chez soi est l’expression du luxe ultime, le faste d’un soin professionnel à domicile.
      </p>
    </div>
  </div>
</div>
</div>
<div class="container voyages-des-sens" id="play">
  <div class="grid">
    <div class="g-col-12 g-col-md-6 massages">
      <p class="massage"> Les Differents Massages </p>
    </div>
    <div class="g-col-12 g-col-md-6 huiles">
      <p class="huile"> Les Huiles <br> & <br> Leurs Bienfaits </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12 g-col-md-6 tarifs">
      <p class="tarif"> tarifs </p>
    </div>
    <div class="g-col-12 g-col-md-6 offres">
       <p class="offre"> Offres <br> & <br> Cadeaux </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12 masseuse">
      <p class="qui"> Qui Suis-Je ? </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12 precautions">
      <p class="indication"> Precautions & Contre-Indications Massage </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12 ensemble">
      <p class="covid"> Ensemble Contre La Covid </p>
    </div>
  </div>
</div>
