<div class="container voyages-des-sens">
  <div class="grid">
    <div class="g-col-12 g-col-md-6">
      <p class="massages"> Les Differents Massages </p>
    </div>
    <div class="g-col-12 g-col-md-6">
      <p class="offres"> Offres & Cadeaux  </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12 g-col-md-6">
      <p class="huiles"> Les Huiles & Leurs Bienfaits </p>
    </div>
    <div class="g-col-12 g-col-md-6">
      <p class="tarifs"> tarifs </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12">
      <p class="masseuse"> Qui Suis-Je ? </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12">
      <p class="precautions"> Precautions & Contre-Indications Massage </p>
    </div>
  </div>
  <div class="grid">
    <div class="g-col-12">
      <p class="ensemble"> Ensemble Contre La Covid </p>
    </div>
  </div>
</div>
