.navbarone, .navbartwo {
  display:flex;
  justify-content: center;
   width: 100vw;
  border-bottom: 1px solid #4E3E3E;
}

.navbarone {
  background: linear-gradient(#dbcfcf, #e9e2e2, #ffffff);
}

.navbartwo {
  background-color: #ffffff;
}

.companyname, .contact {
 color: #4E3E3E;
}

.contact {
  font-weight: 500;
  margin: 0.313rem;
}

.companyname {
  font-weight: 500;
  margin-top: 1.563rem;
  margin-bottom: 0.938rem;
}

.nav {
  position: sticky;
  top: 0;
}

 @media (min-width: 340px) { .companyname {font-size: 2.75rem;}; .contact {font-size: 1.2rem;} }
@media (min-width: 640px) { .companyname {font-size: 4.75rem;}; .contact {font-size: 1.625rem;} }
