.navbarone, .navbartwo {
  display:flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #4E3E3E;
}

.navbarone {
  background: linear-gradient(#dbcfcf, #e9e2e2, #ffffff);
  color: #4E3E3E;
}

.navbartwo {
  background-color: #ffffff;
  color: #4E3E3E;
}

.contact {
  font-weight: 500;
  margin: 0.313rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.contact:hover {
  color: inherit;
  transform: scale(1.1);
}

.companyname {
  font-weight: 500;
  margin-top: 1.7rem;
  margin-bottom: 0.8rem;
  font-size: 3rem;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 20;
}


@media only screen and (min-width: 200px) and (max-width: 461px) {.companyname {font-size: 1.6rem;}; .contact {font-size: 1rem;} }

@media only screen and (min-width: 768px) and (max-width: 840px)  { .contain { margin-top:28rem;}}

@media only screen and (min-width: 462px) and (max-width: 767px) {.companyname {font-size: 2.2rem;}; .contact {font-size: 1.2rem;} }
