.navbarone, .navbartwo {
  display:flex;
  justify-content: center;
   width: 100vw;
  border-bottom: 1px solid #4E3E3E;
}

.navbarone {
  background: linear-gradient(#cfcfcf, #faf7f7);
}

.companyname, .contact {
 color: #4E3E3E;
}

.contact {
  font-size: 26px;
  font-weight: 600;
  margin: 5px;
}

.companyname {
  font-size: 76px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;

}
